@import "variables.css";
@import "animations.css";

:root {
  --spacing: 0.625rem 0.625rem;
  --color-bg: var(--color-primary);
  --color-hover: var(--color-primary-light);
  --font: var(--font-primary);
  --color-text-disabled: var(--color-neutral-b);
  --color-bg-disabled: var(--color-neutral-d);
  --color-bg-secondary: var(--color-primary-a);
  --color-bg-secondary-hover: var(--color-primary-c);

  --disabled-styles: {
    cursor: not-allowed;
    background-color: var(--color-bg-disabled);
    color: var(--color-text-disabled);
  }
}

.base {
  font-family: var(--font);
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0 0.875rem;
  line-height: 2.286;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.button {
  color: white;
  background-color: var(--color-bg);

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }
}

.disabled {
  @apply --disabled-styles;
}

.secondary {
  background-color: var(--color-bg-secondary);

  &:hover {
    background-color: var(--color-bg-secondary-hover);
  }
}

.loading {
  position: relative;
  padding-left: 2.75rem;

  &::before {
    content: '';
    display: block;
    position: absolute 0.5rem auto auto 0.75rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.125rem solid white;
    border-bottom-color: rgba(0, 0, 0, 0);
    animation: rotate 1s linear infinite;
  }
}
