@import "variables.css";

:root {
  --h1-font-family: var(--font-primary);
  --h1-font-size: 2.15rem;
  --h1-color: var(--color-primary);
}

.h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
