@import "variables.css";

.horizontal-container {
  display: block;

  & > * {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.vertical-container {
  display: block;

  & > * {
    width: 100%;
    margin: 0 0 0.75rem;
  }
}

.logo-container {
  background-color: var(--color-primary-8);
  padding: 1rem;
}
