@import "variables.css";

:root {
  --color-bg: var(--color-neutral-2);
  --color-shadow: rgba(0, 0, 0, 0.3);
}

.container {
  padding: 0.15rem 0.5rem;
  margin: 0.5rem;
  background: var(--color-bg);
  font-size: 1rem;
  line-height: 2rem;
  color: white;
  border-radius: var(--border-radius);
  border: 2px solid white;
  box-shadow: 0 2px 4px var(--color-shadow);
  z-index: 9;
}

